@model InvalidateCookie.WebApplication.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    bool? isSuccess = (bool?)ViewBag.IsSuccess;
}

<h1>ChangePassword</h1>
<hr />
@if (isSuccess.HasValue)
{
    if (isSuccess.Value)
    {
        <div class="alert alert-success">
            <p>Your password changed successfully</p>
        </div>
    }
    else
    {
        <div class="alert alert-success">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
        </div>
    }
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" type="password" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="control-label"></label>
                <input asp-for="RePassword" type="password" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

